<h1>Посібник користувача</h1>
<p>Quest - аматорське спортивно-інтелектуальне змагання, основою якого є послідовне виконання заздалегідь підготовлених завдань командами або окремими гравцями.</p>
<p>Під час гри команди вирішують логічні завдання, здійснюють пошук на місцевості, будують оптимальні маршрути переміщення, шукають оригінальні рішення і підказки. Після завершення чергового завдання команди переходять до виконання наступного. Перемагає команда, що виконала всі завдання швидше за інших.</p>
<p>Вас чекають різноманітні квестерські завдання. Ви трішки побігаєте, трішки пошукаєте і добряче подумаєте. Доведеться розв’язати декілька ребусів, скласти до купи ланцюжки з кодів, пофотографуватись, може до когось позалицятись і познайомитись з новими методами шифрування. Хто зна, куди Вас приведе КВЕСТ? Загадані будуть вулиці Луцька. Тож Ви можете заздалегідь ознайомитись з <a href="https://uk.wikipedia.org/wiki/%D0%92%D1%83%D0%BB%D0%B8%D1%86%D1%96_%D0%9B%D1%83%D1%86%D1%8C%D0%BA%D0%B0">назвами вулиць Луцька</a></p>
<p>Для полегшення організації гри було створено спеціальний сайт Quest.wtf. Вашим невід’ємним помічником на квесті буде смартфон, так Ви зможете бачити завдання, підказки і надсилати правильні відповіді. Тож подбайте про повний заряд телефону перед грою.</p>
<br>
<p>Для гри Вам потрібно:</p>
<ol>
  <li><p>Заздалегідь зареєструватись на даному сайті. Для цього потрібно вказати свою електронну пошту, придумати нік та пароль.</p></li>
  <br>
  <li>
    <p>Гра в основному командна. Отже, Вам доведеться об’єднатись в команди, вибрати капітана та  придумати назву. Капітан створює команду на сайті та запрошує до неї інших учасників.</p>
    <%= image_tag("step1.png", width: '500') %>
    <p>Переходите в кімнату команди. Після чого запрошуєте учасника за ніком</p>
    <%= image_tag("step2.png", width: '500') %>
    <p>Учаснику прийде запрошення в команду. Його буде видно в Особистому кабінеті. Щоб вступити до команди. потрібно прийняти запрошення. Також до команди можна “напроситись” самому, тоді Ваш вступ має підтвердити капітан в Кімнаті команди.</p>
    <%= image_tag("step3.png", width: '700') %>
  </li>
  <br>
  <li>
    <p>Капітан команди подається на гру. Після чого автор допускає команду до участі.</p>
    <%= image_tag("step4.png", width: '800') %>
  </li>
</ol>
<br><br>
<p>Приклад завдання:</p>
<br>
<p>Загадана вулиця</p>
<%= image_tag("step5.png", width: '50') %>
<p>Код біля будинку 22 на сірому металі</p>
<br>
<p>Підказка 1</p>
<p>А ви ж знаєте як називають цей жест?</p>
<br>
<p>Підказка 2</p>
<p>«victory hand»</p>
<br>
<p>Підказка 3</p>
<p>означає перемогу</p>
<br>
<p>Підказка 4</p>
<p>Вул. Перемоги</p>
<br>
<p>Правильно відгадавши вулицю і знавши код, Ви закриєте рівень і перейдете до іншого. Що ж означає фраза “Код біля будинку 22 на сірому металі” ? Це означає, що код закриття рівня знаходиться на вулиці Перемоги  біля будинку 22 на сірому металі (це може бути металевий ящик або водостік).</p>
<p>Код це слово написане маркером. Щоб знати, що цей напис стосується гри, код пишуть з певної мітки, яку автор оголошує перед стартом. Наприклад, мітка гри Q  і всі коди будуть виглядати так - Qкороль, Qрись.</p>
<p>Коди наносяться на нерухомих об’єктах. На стовпах, поштових скриньках, трубах, смітниках і те де.</p>

