<% unless questions.empty? %>
    <% questions.each do |question| %>
        <div id="question-<%=  question.id %>">
          <fieldset>
            <legend>
              <% if question.team.nil? %>
                  <em>Для всіх</em>:
              <% else %>
                  <em>Для </em> <strong><%= link_to question.team.name, team_path(question.team) %></strong>:
              <% end %>
              <em>
                <%= link_to "(редагувати)", edit_game_level_question_path(question.level.game, question.level, question) %>
                <%= link_to "(видалити)", game_level_question_path(question.level.game, question.level, question), method: :delete, data: { confirm: 'Ви впевнені?' } %>
              </em>
            </legend>
            <p>
              <strong><%= question.name %>:</strong>
            </p>
            <% question.answers.each do |answer| %>
              <p>
                <%= answer.value %>
                <% if answer.team.nil? %>
                    <em> (для всіх)</em>
                <% else %>
                    <em> (для </em> <strong><%= link_to answer.team.name, team_path(answer.team) %></strong>)
                <% end %>
                <%= link_to "(редагувати)", edit_game_level_question_answer_path(@game, @level, question, answer) %>
                <%= link_to "(видалити)", game_level_question_answer_path(@game, @level, question, answer), method: :delete, data: { confirm: 'Ви впевнені?' } %>
              </p>
            <% end %>
            <br>
            <%= link_to "Додати відповідь", new_game_level_question_answer_path(@game, @level, question) %>
          </fieldset>
        </div>
        <br>
    <% end %>
<% end %>