<div id="LevelHintsContainer">
  <% hints_count = @game_passing.hints_to_show(@team_id).count + @game_passing.upcoming_hints(@team_id).count %>
  <% @game_passing.hints_to_show(@team_id).each_with_index do |hint, index| %>
    <fieldset>
      <legend>
        Підказка <%= index + 1 %> із <%= hints_count %>
      </legend>
      <%= hint.text.html_safe %>
    </fieldset>
    <br>
  <% end %>

  <% @game_passing.upcoming_hints(@team_id).each_with_index do |hint, index|  %>
    <div id="<%= "LevelHintCountdownContainer#{hint.id}" %>" class="hint-timer">До підказки <%= @game_passing.hints_to_show(@team_id).count + index + 1 %> лишилось <span id="<%= "LevelHintCountdownTimerText#{hint.id}" %>">3 хвилини</span></div>
    <div id="<%= "LevelHintCountdownLoadIndicator#{hint.id}" %>" style="display: none;">Завантаження...</div>
    <br>
    <script>
        LevelHintUpdater.setup({
            initialCountdownValue: <%= hint.available_in(@game_passing.current_level.position == 1 ? @game_passing.game.starts_at : @game_passing.current_level_entered_at) %>
            ,gameId: <%= @game_passing.game_id %>, teamId: <%= @team_id %>, hintId: <%= hint.id %>, hintNum: <%= index %>, levelId: <%= @game_passing.current_level.id %>
        })
    </script>
  <% end %>
</div>