<%= link_to "Оновити", url_for("/play/#{@game.id}") %>
<br>
<br>

<fieldset>
  <legend>
    <%= @game_passing.current_level.name %>
  </legend>

  <%= form_tag("/play/#{@game.id}", method: "post") do %>
    <br>Код:
    <%= text_field_tag(:answer, nil, autofocus: true) %>
    <%= submit_tag " надіслати " %>
    <hr>
  <% end %>
  <br>

  <% if (@entered_all_answers.count > 0) && answer_posted? %>
    <% if answer_was_correct? %>
      <div>
        Код <font color="236400"><b><%= @answer %></b></font> вірний.<br><hr>
      </div>
    <% else %>
      <p>
        Код <font color="ae0011"><b><%= @answer %></b></font> невірний.<br><hr>
      </p>
    <% end %>

    <p id="entered_codes">
        <br>Введено коди:
      <%= @entered_all_answers.join ', '  %><hr>
    </p>

  <% end %>

  <%= @game_passing.current_level.team_task(@team_id).html_safe %>

  <div>
    <br>
    <b>Вірних кодів <%= @game_passing.answered_questions.size %> із <%= @game_passing.current_level.team_questions(@team_id).count %>:<!--<br /><font color="236400"><%#= "#{@entered_correct_answers.sort!.join '<br>'}".html_safe  %>--></b></font>
    <hr>
    <hr>
  </div>

  <%= render @game_passing.current_level.olymp? ? 'olymp' : 'multy' %>

  <%= render 'bonuses' %>

</fieldset>

<br>

<div id="LevelHintsContainer">
  <% @game_passing.hints_to_show(@team_id).each_with_index do |hint, index| %>
    <fieldset>
      <legend>
        Підказка <%= index + 1 %>
      </legend>
      <%= hint.text.html_safe %>
    </fieldset>
    <br>
  <% end %>
</div>

<% unless @game_passing.upcoming_hints(@team_id).empty?  %>
  <div id="LevelHintCountdownContainer">До наступної підказки <span id="LevelHintCountdownTimerText">3 хвилини</span></div>
  <div id="LevelHintCountdownLoadIndicator" style="display: none;">Завантаження...</div>

  <script>
    LevelHintUpdater.setup({
      initialCountdownValue: <%= @game_passing.upcoming_hints(@team_id).first.available_in(@game_passing.current_level_entered_at) %>
      ,gameId: <%= @game_passing.game_id %>, teamId: <%= @team_id %>
    })
  </script>
<% else %>
  <div>
  Підказок більше не буде
  </div>
<% end %>

<br>

<% if @game_passing.current_level.complete_later > 0 %>
  <div id="LevelCompleteCountdownContainer" >До завершення рівня <span id="LevelCompleteCountdownTimerText">3 хвилини</span></div>

  <script>
    LevelCompleter.setup({
      initialCountdownValue: <%= (@game_passing.current_level_entered_at - Time.zone.now).to_i + @game_passing.current_level.complete_later %>
      ,gameId: <%= @game_passing.game_id %>, levelId: <%= @game_passing.current_level.id %>
    })
  </script>
<% end %>

