<div id="updateButton"><%= link_to "Оновити", url_for("/play/#{@game.id}?level=#{@level.position}") %></div>
<br>
<br>
<div id="left-game-container">
  <% unless @game_passing.closed?(@level) %>
    <%= form_tag("/play/#{@game.id}", method: "post", remote: true, format: :js) do %>
      <br>
      Код:
      <%= text_field_tag(:answer, nil, autofocus: true, autocomplete: false) %>
      <%= submit_tag " надіслати " %>
      <%= hidden_field_tag(:level_id, @level.id) %>
      <%= hidden_field_tag(:closed_level, @game_passing.closed?(@level)) %>
      <%= hidden_field_tag(:closed_levels, @game_passing.closed_levels.count) %>
      <%= hidden_field_tag(:team_id, @team_id) %>
      <br>
    <% end %>
  <% end %>

  <br>
  <div id="entered-code">
    <% unless @answer.nil? || @answer == '' %>
      <% if answer_was_correct? %>
        Код <span class="right_code"><%= @answer %></span> вірний.<br><hr>
      <% else %>
        Код <span class="wrong_code"><%= @answer %></span> невірний.<br><hr>
      <% end %>
    <% end %>
  </div>
  <br>
  <div id="entered-codes">
    <% @entered_all_answers.each do |answer| %>
      <p><%= "#{answer[:time].strftime("%H:%M:%S")} #{answer[:user]} #{answer[:answer]}".html_safe %></p>
    <% end %>
  </div>
  <hr>
  <br>
</div>

<div id="main-game-container">

<h3>
  <%= @game.levels.map { |level| level == @level ? "#{level.position}. #{level.name}" : "<a class=\"#{(@game_passing.closed?(level) ? 'closedlevel' : 'openedlevel')}\" href=\"/play/#{@game.id}?level=#{level.position}\">#{level.position}. #{level.name}</a>"}.join(', ').html_safe %>
</h3>

<fieldset>
  <legend>
    <%= @level.name %>
  </legend>

  <% if @game_passing.closed?(@level) %>
    <br>
    <p><span class="right_code">Рівень закрито</span></p>
  <% else %>
    <div id="LevelCompleteCountdownContainer" >До завершення рівня <span id="LevelCompleteCountdownTimerText">3 хвилини</span></div>

    <script>
        LevelCompleter.setup({
            initialCountdownValue: <%= (@game.starts_at - Time.zone.now.strftime("%d.%m.%Y %H:%M:%S.%L").to_time).to_i + ((@level.complete_later || 0) > 0 ? @level.complete_later : @game.duration * 60) %>
            ,gameId: <%= @game.id %>, levelId: <%= @level.id %>, gameType: '<%= @game.game_type %>', levelNumber: <%= @level.position %>
        })
    </script>
    <br>

  <% end %>
  <br>

  <%= render 'messages', messages: @level.messages %>
  <br><br>
  <%= render 'tasks', tasks: @level.team_tasks(@team_id) %>
  <br>

  <% team_questions = @level.team_questions(@team_id) %>
  <% if team_questions.count > 1 %>
    <div>
      <br>
      <b id="codes-closed">Вірних кодів <%= (@game_passing.answered_questions.to_set & team_questions.map(&:id).to_set).count %> із <%= team_questions.count %>:</b>
      <hr>
      <hr>
    </div>
    <br>
  <% end %>
  <br>

  <% unless @game_passing.closed?(@level) %>
    <%= render 'hints', begin_time: @game_passing.game.starts_at %>
    <%= render 'penalty_hints' %>
  <% end %>

  <%= render @level.olymp? ? 'olymp' : 'multy' if @sectors.count > 1 %>
  <hr>
  <br>
  <%= render 'bonuses', level: @level if @bonuses.count > 0 %>

  <br>
</fieldset>
</div>


<%= subscribe_to "/game_passings/#{@game_passing.id}/#{@level.id}" %>
<%= subscribe_to "/game_passings/#{@game_passing.id}/#{@level.id}/answers" %>
<%= subscribe_to "/game_passings/#{@game_passing.id}/#{@game_passing.current_level.id}/penalty_hints" %>

<script>
    PrivatePub.subscribe("/game_passings/<%= @game_passing.id %>/<%= @level.id %>", function(data, channel) {
        window.location.href = data.url;
    });

    PrivatePub.subscribe("/game_passings/<%= @game_passing.id %>/<%= @level.id %>/answers", function(data, channel) {
        var answers = data.answers || [];
        for (var i = 0; i < answers.length; i++) {
            $('#entered-codes').prepend($('<p>' + answers[i].time + ' ' + answers[i].user + ' ' + answers[i].answer + '</p>'));
        }
        var sectors = data.sectors || [];
        for (var i = 0; i < sectors.length; i++) {
            var sector = $('#sector-' + sectors[i].position).get(0);
            <% if @level.olymp? %>
            sector.innerHTML = sectors[i].value;
            <% else %>
            sector.innerHTML = sectors[i].name + ': ' + sectors[i].value;
            <% end %>
        }
        var bonuses = data.bonuses || [];
        for (var i = 0; i < bonuses.length; i++) {
            var bonus = $('#bonus-' + bonuses[i].id).get(0);

            var elem = '<p class="bonus-answered"><b>' + (bonuses[i].award != "" ? (bonuses[i].name + ': нагорода ' + bonuses[i].award) : (bonuses[i].name + ': виконано')) + ', код: ' + bonuses[i].value +'</b></p>'
                + bonuses[i].help;
            bonus.innerHTML = elem;
        }
        var needed = data.needed || 0;
        var closed = data.closed || 0;
        if (needed > 0 && closed > 0) {
            $('#codes-closed').get(0).innerHTML = 'Вірних кодів ' + closed + ' із ' + needed + ':';
        }

    });

    PrivatePub.subscribe("/game_passings/<%= @game_passing.id %>/<%= @game_passing.current_level.id %>/penalty_hints", function(data, channel) {
        var hint = data.hint || {};
        var hint_block = $('#penalty-hint-' + hint.id).get(0);
        hint_block.innerHTML = hint.text;
    });

    $(document).on("ajax:error", 'body', function(e, data, status) {
        if (data.status == 0) {
            $('#entered-code').get(0).innerHTML = '<span class="wrong_code">проблема мережі</span>';
        }
    });
</script>