<div id="updateButton"><%= link_to "Оновити", url_for("/play/#{game.id}?level=#{level.position}&rnd=#{rand}") %></div>
<br>
<br>
<div id="left-game-container">
  <% unless game_passing.closed?(level) %>
    <%= form_tag("/play/#{game.id}", method: "post", remote: true, format: :js) do %>
      <br>
      Код:
      <%= text_field_tag(:answer, nil, autofocus: true, autocomplete: false) %>
      <%= submit_tag " надіслати " %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag(:level, level.position) %>
      <%= hidden_field_tag(:level_id, level.id) %>
      <%= hidden_field_tag(:closed_level, game_passing.closed?(level)) %>
      <%= hidden_field_tag(:closed_levels, game_passing.closed_levels.size) %>
      <%= hidden_field_tag(:team_id, team_id) %>
      <br>
    <% end %>
  <% end %>

  <br>
  <div id="entered-code">
    <% unless answer.nil? || answer == '' %>
      <% if answer_was_correct? %>
        Код <span class="right_code"><%= answer %></span> вірний.<br><hr>
      <% else %>
        Код <span class="wrong_code"><%= answer %></span> невірний.<br><hr>
      <% end %>
    <% end %>
  </div>
  <br>
  <div id="entered-codes">
    <% entered_all_answers.each do |answer| %>
      <p><%= "#{answer[:time].strftime("%H:%M:%S")} #{answer[:user]} #{answer[:answer]}".html_safe %></p>
    <% end %>
  </div>
  <hr>
  <br>
</div>

<div id="main-game-container" data-team-id="<%= game_passing.id %>" data-level-id="<%= level.id %>" data-user-id="<%= current_user.id %>">

<h3>
  <%= game_levels_list(game).html_safe %>
</h3>

<fieldset>
  <legend>
    <%= level.name %>
  </legend>

  <% if game_passing.closed?(level) %>
    <br>
    <p><span class="right_code">Рівень закрито</span></p>
  <% else %>
    <div id="LevelCompleteCountdownContainer" >До завершення рівня <span id="LevelCompleteCountdownTimerText">3 хвилини</span></div>

    <script>
      LevelCompleter.setup({
        initialCountdownValue: <%= (game.starts_at - Time.zone.now.strftime("%d.%m.%Y %H:%M:%S.%L").to_time).to_i + ((level.complete_later || 0) > 0 ? level.complete_later : game.duration * 60) %>
        ,gameId: <%= game.id %>, levelId: <%= level.id %>, gameType: '<%= game.game_type %>', levelNumber: <%= level.position %>
      })
    </script>
    <br>

  <% end %>
  <br>

  <%= render 'messages', messages: level.messages %>
  <br><br>
  <%= render 'tasks', tasks: level.team_tasks(team_id) %>
  <br>

  <% team_questions = level.team_questions(team_id) %>
  <% if team_questions.size > 1 %>
    <div>
      <br>
      <strong id="codes-closed">Вірних кодів <%= (game_passing.question_ids.to_set & team_questions.map(&:id).to_set).size %> із <%= team_questions.size %>:</strong>
      <hr>
      <hr>
    </div>
    <br>
  <% end %>
  <br>

  <% unless game_passing.closed?(level) %>
    <%= render 'hints', upcoming_hints: upcoming_hints, hints_to_show: hints_to_show, begin_time: game.starts_at, game_passing: game_passing, level: level, team_id: team_id %>
    <%= render 'penalty_hints', penalty_hints: penalty_hints, game_passing: game_passing, level: level, team_id: team_id %>
  <% end %>

  <%= render level.olymp? ? 'olymp' : 'multy', sectors: sectors, level: level if sectors.size > 1 %>
  <hr>
  <br>
  <%= render 'bonuses', level: level, bonuses: bonuses, game_passing: game_passing, team_id: team_id if bonuses.size > 0 %>

  <br>
</fieldset>
</div>


<script>
  $(document).ready(function() {
    let input_lock = { input_lock: <%= input_lock[:input_lock] || false %>, duration: <%= input_lock[:duration] || 0 %>};
    if (input_lock.input_lock) {
      $('#answer').prop('readonly', true);
      $("#code_submit").attr("disabled", true);

      let timer = Math.floor(input_lock.duration);

      let x = setInterval(function() {

        $('#entered-code').get(0).innerHTML = '<span class="wrong_code">блокування вводу: ' + (--timer) + ' c</span>';

        if (timer <= 0) {
          clearInterval(x);
          $('#answer').prop('readonly', false);
          $("#code_submit").attr("disabled", false);
          $('#entered-code').get(0).innerHTML = '';
        }
      }, 1000);
    } else {
      $('#answer').prop('readonly', false);
    }
  });

  $(document).on("ajax:error", 'body', function(e, data, status) {
    if (data.status == 0) {
      $('#entered-code').get(0).innerHTML = '<span class="wrong_code">проблема мережі</span>';
    }
  });
</script>