<div id="LevelPenaltyHintsContainer">
  <% @penalty_hints.each_with_index do |hint, index| %>
    <div id="penalty-hint-<%= hint[:id] %>">
      <% if hint[:delayed] && hint[:time_to_show] > 0 %>
        <% unless @game_passing.closed?(@level) %>
          <div id="<%= "LevelPenaltyHintDelayCountdownContainer#{hint[:id]}" %>" class="penalty-hint-delay-timer">
            Штрафна підказка відкриється через <span id="<%= "LevelPenaltyHintDelayCountdownTimerText#{hint[:id]}" %>">3 хвилини</span>
          </div>
          <div id="<%= "LevelPenaltyHintsDelayCountdownLoadIndicator#{hint[:id]}" %>" style="display: none;">Завантаження...</div>
          <br>
          <script>
              LevelPenaltyHintDelayUpdater.setup({
                  initialCountdownValue: <%= hint[:time_to_show] %>,
                  gameId: <%= @game_passing.game_id %>,
                  teamId: <%= @team_id %>,
                  hintId: <%= hint[:id] %>,
                  levelId: <%= @level.id %>
              })
          </script>
        <% end %>
      <% else %>
        <fieldset>
          <legend>
            Штрафна підказка <%= index + 1 %>: <%= hint[:name] %> (штраф <%= seconds_to_string(hint[:penalty] || 0) %>)
          </legend>
          <div class="penalty-hint-body">
            <% if hint[:used] %>
              <%= hint[:text].html_safe %>
            <% else %>
              <%= form_tag("/play/#{@game.id}/penalty_hint", method: "post", remote: true, format: :js) do %>
                <%= submit_tag "Взяти штрафну підказку", class: "btn btn-outline-danger btn-sm", data: { confirm: 'Ви впевнені?' } %>
                <%= hidden_field_tag(:level_id, @level.id) %>
                <%= hidden_field_tag(:hint_id, hint[:id]) %>
                <%= hidden_field_tag(:team_id, @team_id) %>
              <% end %>
            <% end %>
          </div>
        </fieldset>
      <% end %>
    </div>
    <br>
  <% end %>
</div>