<h2>
  "<strong><%= @game.name %></strong>"
  <br>
  Завдання <%= @game_passing.current_level.position %> із <%= @game.levels.count %>
</h2>
<br>

<%= render @game.game_type == 'panic' ? 'panic' : 'linear' %>

<!--
<% if current_user.captain? %>
    <%#= link_to "Зійти з дистанції", url: "game_passings/exit_game/#{@game_passing.game_id}" %>
<% end %>
-->
<% if @game.is_testing? %>
  <br>
  <%= link_to "Завершити тестування", url_for("/games/finish_test/#{@game.id}") %>
<% end %>
