<%= form_for @team, url: teams_path do |f| %>
  <%= render 'shared/error_messages', object: f.object %>  
  <p><%= f.label "Назва" %><%= f.text_field :name %></p>
  <%= f.submit "Створити команду" %>
<% end %>