Команда <%= @team.name %> <br>
<br>

<fieldset>
  <legend>
    Склад
  </legend>

  <% @team.members.each do |member| %>
    <p>
      <%= member.nickname %> <%= "- капітан" if member.captain? %>
    </p>
  <% end %>

  <br>

  <% if @team.members.include?(current_user) && current_user.captain? %>
    <p>
    <span class="btn btn-primary btn-sm"><%= link_to "Запросити учасників", new_invitation_path if @team.members.include?(current_user) && current_user.captain? %></span>
    <span class="btn btn-success btn-sm"><%= link_to "Редагувати команду", edit_team_path(@team) if @team.members.include?(current_user) && current_user.captain? %></span>
    </p>
  <% end %>
  <% if @team.members.include?(current_user) && !current_user.captain? %>
    <br>
    <p><span class="btn btn-primary"><%= link_to "Вийти з команди", url_for("/teams/edit/leave_team"), method: :post, data: { confirm: 'Ви впевнені, що хочете вийти зі складу команди?' } %></span></p>
  <% end %>
  <% unless @team.members.include?(current_user)%>
    <br>
    <p><span class="btn btn-primary"><%= link_to "Приєднатись", url_for("/teams/#{@team.id}/join_team"), method: :post %></span></p>
  <% end %>

  <% if @team.members.include?(current_user) && current_user.captain? %>

    <% @team_requests.each do |team_request| %>
      <% if team_request.user %>
        <br>
        <p>До команди хоче приєднатись гравець <b class="right_code"><%= team_request.user.nickname %></b></p>
        <p>
          <span class="btn btn-danger btn-sm"><%= link_to "Прийняти", accept_team_request_path(team_request.id), method: :post %></span>
          <span class="btn btn-info btn-sm"><%= link_to "Відмовитись", reject_team_request_path(team_request.id), method: :post %></span>
        </p>
      <% end %>
    <% end %>
  <% end %>
  <br>
</fieldset>

<fieldset>
  <legend>
    Результати
  </legend>
  <% @results.each_with_index do |result, index| %>
    <p><%= index + 1 %>. Гра <%= link_to result.game.name, game_path(result.game) %> від <%= result.game.starts_at.strftime('%d.%m.%Y') %> : <%= result.place < 0 ? 'Не дійшли до фінішу' : "#{result.place} місце" %></p>
  <% end %>
</fieldset>