<fieldset>
  <legend>
    Моя команда
  </legend>

  <% unless current_user.captain? %>
    <% invitations.each do |invitation| %>
        <% if invitation.to_team %>
        <br>
        <p>Вас запрошено в команду <b class="right_code"><%= invitation.to_team.name %></b></p>
          <p>
            <span class="btn btn-danger btn-sm"><%= link_to "Прийняти", accept_invitation_path(invitation.id), method: :post %></span>
            <span class="btn btn-info btn-sm"><%= link_to "Відмовитись", reject_invitation_path(invitation.id), method: :post %></span>
          </p>
        <% end %>
    <% end %>
    <br>
    <p>
      <%= link_to "Вступити до команди", new_team_request_path, class: 'btn btn-primary btn-sm' %>
    </p>
    <br>
<% end %>

  <% if current_user.member_of_any_team? %>

    <p>
      <%=  current_user.captain? ? "Ви - капітан команди" : "Ви входите в склад команди"  %>
      <strong><%= link_to current_user.team.name, team_path(current_user.team) %></strong>
    </p>

<!--    <p>-->
      <%#=  link_to "Перейти в кімнату команди", team_path(current_user.team)  %>
<!--    </p>-->

  <% else %>

    <p>
      Ви не входите в склад жодної із команд
    </p>

    <p>
      <%=  link_to "Створити команду", new_team_path, class: 'btn btn-primary btn-sm'  %>
    </p>

    <br>

  <% end %>
</fieldset>