<p>
  Ви <%= current_user.nickname %>
</p>
<br>
<%= render 'my_team' %>
<br>
<%= render 'my_games' %>
<br>
<%= render 'shared/current_games' %>
<br>
<%= render 'coming_games' %>
<br>
<%= render 'finished_games' %>