<% provide(:title, "Вхід") %>
<h1>Вхід</h1>
<br/>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <p>
        <%= f.label :email, "Email" %>
        <%= f.text_field :email %>
      </p>

      <p>
        <%= f.label :password, "Пароль" %>
        <%= f.password_field :password %>
      </p>

      <p><%= f.submit "  Увійти  ", class: "btn btn-large btn-primary" %></p>
    <% end %>

    <p>Новий користувач? <%= link_to "Зареєструватись!", signup_path %></p>
  </div>
</div>