<% if tasks.empty? %>
    <em>Завдань немає</em>
<% else %>
    <% tasks.each do |task| %>
        <fieldset id="task-<%= task.id %>">
          <legend>
            <% if task.team.nil? %>
                <em>Для всіх</em>
            <% else %>
                <em>Для </em> <strong><%= link_to task.team.name, team_path(task.team) %></strong>:
            <% end %>
          </legend>
          <% unless game.author_finished? %>
            <p>
              <%= link_to "Редагувати", edit_game_level_task_path(game, level, task), class: 'btn btn-sm btn-primary' %>
              <%= link_to "Видалити", game_level_task_path(game, level, task), method: :delete, data: { confirm: 'Ви впевнені?' }, class: 'btn btn-sm btn-danger' %>
            </p>
            <br>
          <% end %>

          <p>
            <%= task.text.html_safe %>
          </p>
        </fieldset>
    <% end %>
<% end %>