<%= tinymce language: 'uk' %>
<div class="form-group row">
  <%= f.label "Команда", class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= f.select(:team_id, [['Для всіх', nil]] + @teams.map{ |team| [team.name, team.id] }, {}, { class: 'form-control' }) %>
  </div>
</div>
<div class="form-group row">
  <%= f.label :name, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= f.text_field :name, class: 'form-control form-control-sm' %>
  </div>
</div>
<div class="form-group row">
  <%= f.label :text, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= f.text_area :text, class: 'tinymce' %>
  </div>
</div>
<div class="form-group row">
  <%= f.label "Штраф", class: 'col-sm-2 col-form-label' %>
  <div id="hint-penalty-form" class="col-sm-10 form-inline">
    <%= render 'shared/time_form' %>
    <%= f.hidden_field :penalty %>
  </div>
</div>

<script type="text/javascript">
    $( document ).ready(function() {
        set_time_form(parseInt($('#penalty_hint_penalty').val()), '#hint-penalty-form');

        $('#hint-penalty-form .time-hours').on('change', function() {
            set_field_time('#penalty_hint_penalty', '#hint-penalty-form', 1);
        });

        $('#hint-penalty-form .time-minutes').on('change', function() {
            set_field_time('#penalty_hint_penalty', '#hint-penalty-form', 1);
        });

        $('#hint-penalty-form .time-seconds').on('change', function() {
            set_field_time('#penalty_hint_penalty', '#hint-penalty-form', 1);
        });
    });
</script>