<% unless penalty_hints.empty? %>
    <% penalty_hints.each do |hint| %>
        <fieldset id="penalty-hint-<%= hint.id %>">
          <legend>
            <% if hint.team.nil? %>
                <em>Для всіх</em>:
            <% else %>
                <em>Для </em> <strong><%= link_to hint.team.name, team_path(hint.team) %></strong>:
            <% end %>
            <em>
              <%= link_to "(редагувати)", edit_game_level_penalty_hint_path(hint.level.game, hint.level, hint) %>
              <%= link_to "(видалити)", game_level_penalty_hint_path(hint.level.game, hint.level, hint), method: :delete, data: { confirm: 'Ви впевнені?' } %>
              <%= link_to "(скопіювати)", copy_game_level_penalty_hint_path(hint.level.game, hint.level, hint), method: :post %>
            </em>
          </legend>
          <p>
            <%= "Назва: #{hint.name}" %>
          </p>
          <p>Підказка:</p>
          <p>
            <%= hint.text.html_safe %>
          </p>
          <p>
            <%= "Штраф: #{seconds_to_string(hint.penalty || 0)}" %>
          </p>
        </fieldset>
    <% end %>
<% end %>