<p>
  Редагування підказки до завдання "<%= link_to @level.name, game_level_path(@game, @level) %>" гри "<%= link_to @game.name, game_path(@game) %>"
</p>

<br />

<%= form_for @hint, url: game_level_hint_path(@game, @level, @hint) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>  
  
  <%= render 'form', f: f %>
  
  <%= f.submit "Редагувати", style: "width:150px" %>
  <em><%= link_to "(відмінити)", game_level_path(@level.game, @level) %></em>
<% end %>
