<p>
    Нова підказка до завдання "<%= link_to @level.name, game_level_path(@game, @level) %>" гри "<%= link_to @game.name, game_path(@game) %>"
</p>

<br>

<%= form_for @hint, url: game_level_hints_path(@game, @level) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>  
  
  <%= render 'form', f: f %>

  <%= f.submit "Додати підказку", class: 'btn btn-light' %>
  <em><%= link_to "(відмінити)", game_level_path(@game, @level, anchor: "hints-block") %></em>
<% end %>

