<div class="form-group row">
  <%= f.label :level_id, "Рівень:", class: 'col-sm-2 col-4 col-form-label' %>
  <div class="col-sm-4 col-8">
    <%= f.select(:level_id, @game.levels.map{ |level| ["#{level.position}. #{level.name}", level.id] }, {}, { class: 'form-control form-control-sm' }) %>
  </div>
</div>
<div class="form-group row">
  <%= f.label :team_id, "Команда:", class: 'col-sm-2 col-4 col-form-label' %>
  <div class="col-sm-4 col-8">
    <%= f.select(:team_id, @teams.map{ |team| [team.name, team.id] }, {}, { class: 'form-control form-control-sm' }) %>
  </div>
</div>
<div class="form-group row">
  <%= f.label 'Бонус/Штраф', class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-3">
    <%= f.number_field :award, step: "0.001", class: 'form-control form-control-sm' %>
    <%= f.text_field :reason, hidden: true %>
  </div>
  <div class="col-sm-7">
    <label class="col-form-label">секунд</label>
  </div>
</div>
<div class="form-group row">
  <%= f.label :description, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= f.text_field :description, class: 'form-control form-control-sm' %>
  </div>
</div>