<table id="results" border="1">
  <thead>
  <tr>
    <th>Дата</th>
    <th>Команда</th>
    <th>Рівень</th>
    <th>Причина</th>
    <th>Бонус/Штраф</th>
    <th>Коментар</th>
  </tr>
  </thead>
  <tbody>
  <% @game_bonuses.each do |bonus| %>
    <tr>
      <td><%= bonus.created_at.strftime('%d.%m.%Y %H:%M:%S') %></td>
      <td><%= bonus.team.name %></td>
      <td><%= "#{bonus.level.position}. #{bonus.level.name}" %></td>
      <td><%= bonus.reason %></td>
      <td><%= "#{bonus.award > 0 ? 'бонус' : 'штраф'} #{seconds_to_string((bonus.award || 0).abs)}" %></td>
      <td><%= bonus.description %> </td>
    </tr>
  <% end %>
  </tbody>
</table>