<%= form_for @user, url: users_path  do |f| %>
  <%= render 'shared/error_messages', object: f.object %>  
  <p><%= f.label "Ім'я" %><%= f.text_field :nickname %></p>
  <p><%= f.label "Email" %><%= f.text_field :email %></p>
  <p><%= f.label "Пароль" %><%= f.password_field :password %></p>
  <p><%= f.label "Підтвердження" %><%= f.password_field :password_confirmation %></p>
  <%= f.submit "Зареєструватися" %>
<% end =%>
