<% current_games = Game.started - Game.finished %>
<% if current_games.count > 0 %>
  <% unless Game.started.empty? %>
    <% current_games.each do |game| %>
      <fieldset class="game-fieldset">
        <legend>
          Поточна гра
        </legend>
        <div id="game-<%= game.id %>">
          <% unless game.is_testing? %>
            <%= render 'shared/current_game', game: game %>
            <% if current_user %>
              <% if current_user.team.nil? || current_user.team.finished?(game) || game.created_by?(current_user) %>
                 <em><%= link_to "(результати)", url_for("/game_passings/show_results?game_id=#{game.id}") %></em>
              <% else %>
                <% if game.levels && game.levels.count > 0 %>
                  <%  game_entry = GameEntry.of(current_user.team, game) %>
                  <%= render 'shared/current_games_status', game_entry: game_entry, game: game %>
                <% else %>
                  Гра не містить завдань
                <% end %>
              <% end %>
            <% end %>
            <p class="stat-link"><em><%= link_to "(cтатистика)", url_for("/logs/short/#{game.id}") if game.started? || game.author_finished? %></em></p>
        <% end %>
        </div>
      </fieldset>
      <br>
    <% end %>

  <% end %>
  <br>
<% end %>
