<p>
  Редагування відповіді для сектора "<%= @question.name %>" до завдання "<%= link_to @level.name, game_level_path(@game, @level) %>" гри "<%= link_to @game.name, game_path(@game) %>"
</p>

<br>

<%= form_for @answer, url: game_level_question_answer_path(@game, @level, @question, @answer) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= render 'form', f: f, teams: @teams %>

    <%= f.submit "Редагувати", style: "width:170px" %>
    <em><%= link_to "(відмінити)", game_level_path(@game, @level) %></em>
<% end %>