<% bonuses.each do |bonus| %>
  <p>
    <%= bonus.name %>
    <% if bonus.team.nil? %>
        <em> (для всіх)</em>
    <% else %>
        <em> (для <%= bonus.team.name %>)</em>
    <% end %>
  </p>
  <p><%= bonus.task.html_safe %></p>
  <% unless bonus.help.empty? %>
    <p>Підказка: <%= bonus.help.html_safe %></p>
  <% end %>

  <% if (bonus.award_time || 0) > 0 %>
    <p>
      <strong>Винагорода: </strong><%= seconds_to_string(bonus.award_time || 0) %>
    </p>
  <% end %>
  <% if (bonus.award_time || 0) < 0 %>
    <p>
      <strong>Штраф: </strong><%= seconds_to_string(-(bonus.award_time || 0)) %>
    </p>
  <% end %>
  <% if bonus.is_absolute_limited %>
    <p>
      <strong>Обмежити час доступності: </strong>
      <%= bonus.valid_from.nil? ? '' : " з #{bonus.valid_from.strftime("%d.%m.%Y %H:%M")}" %>
      <%= bonus.valid_to.nil? ? '' : " по #{bonus.valid_to.strftime("%d.%m.%Y %H:%M")}" %>
    </p>
  <% end %>
  <% if bonus.is_delayed %>
    <p>
      <strong>Обмежити час появи: </strong>
      <%= "на #{seconds_to_string(bonus.delay_for || 0)}" %>
    </p>
  <% end %>
  <% if bonus.is_relative_limited %>
    <p>
      <strong>Обмежити час виконання: </strong>
      <%= "на #{seconds_to_string(bonus.valid_for || 0)}" %>
    </p>
  <% end %>
  <p>
    <% bonus.bonus_answers.each do |answer| %>
        <span class="bonus"><%= answer.value %></span>
        <% if answer.team.nil? %>
            <em> (для всіх)</em>
        <% else %>
            <em> (для <%= answer.team.name %>)</em>
        <% end %>
    <% end %>
  </p>
  <br>
<% end %>