<%= tinymce language: 'uk' %>
<div class="form-group row">
  <%= f.label :name, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= f.text_field :name, class: 'form-control form-control-sm' %>
  </div>
</div>
<div class="form-group row">
  <%= f.label :small_description, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= f.text_area :small_description, class: 'form-control form-control-sm' %>
  </div>
</div>
<div class="form-group row">
  <%= f.label :image, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= f.text_field :image, class: 'form-control form-control-sm' %>
  </div>
</div>
<div class="form-group row">
  <%= f.label :description, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= f.text_area :description, class: 'tinymce' %>
  </div>
</div>
<div class="form-group row">
  <%= f.label :starts_at, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= f.text_field :starts_at, value: game.starts_at.nil? ? '' : game.starts_at.strftime("%d.%m.%Y %H:%M"), class: 'form-control form-control-sm', autocomplete: :off %>
  </div>
</div>
<div class="form-group row">
  <%= f.label :authors, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= select_tag :organizing_team, options_from_collection_for_select(User.order(:nickname).all, 'id', 'nickname', game.authors.map{ |j| j.id }), multiple: true, size: 5, class: 'form-control form-control-sm' %>
  </div>
</div>
<div class="form-group row">
  <%= f.label :registration_deadline, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= f.text_field :registration_deadline, value: game.registration_deadline.nil? ? '' : game.registration_deadline.strftime("%d.%m.%Y %H:%M"), class: 'form-control form-control-sm' %>
  </div>
</div>
<div class="form-group row">
  <label for="max_team_checkbox" class="col-sm-2 col-form-label">Обмежити кількість команд</label>
  <div class="col-sm-1 col-2">
    <div class="form-check">
      <input id="max_team_checkbox" type="checkbox" onclick="toggleMaxTeamNumber(this)" class="form-check-input"/>
    </div>
  </div>
  <div class="col-sm-9 col-10">
    <%= f.number_field :max_team_number, class: 'form-control form-control-sm' %>
  </div>
</div>
<div class="form-group row" id="team-size-limit-block">
  <label for="team_size_limit_checkbox" class="col-sm-2 col-form-label">Обмежити кількість учасників команди</label>
  <div class="col-sm-1 col-2">
    <div class="form-check">
      <input id="team_size_limit_checkbox" type="checkbox" onclick="toggleTeamSize(this)" class="form-check-input"/>
    </div>
  </div>
  <div class="col-sm-9 col-10">
    <%= f.number_field :team_size_limit, class: 'form-control form-control-sm' %>
  </div>
</div>
<div class="form-group row">
  <%= f.label :is_draft, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <div class="form-check">
      <%= f.check_box :is_draft, class: 'form-check-input' %>
    </div>
  </div>
</div>
<div class="form-group row">
  <%= f.label :team_type, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= f.select(:team_type, [['Одиночна', 'single'], ['Командна', 'multy']], {}, { class: 'form-control form-control-sm' }) %>
  </div>
</div>
<div class="form-group row">
  <%= f.label :game_size, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= f.select(:game_size, [['Лайт', 'Лайт'], ['Драйв', 'Драйв'], ['Онлайн', 'Онлайн']], {}, { class: 'form-control form-control-sm' }) %>
  </div>
</div>
<div class="form-group row">
  <%= f.label :game_type, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= f.select(:game_type, [['Лінійна', 'linear'], ['Штурм', 'panic'], ['Лінійна (вказана)', 'selected']], {}, { class: 'form-control form-control-sm' }) %>
  </div>
</div>
<div class="form-group row" id="duration-block">
  <%= f.label :duration, class: 'col-sm-2 col-form-label' %>
  <div id="game-duration-form" class="col-sm-10 form-inline">
    <input class="time-hours form-control form-control-sm" type="number" min="0" max="9999" value="0">
    <label class="time-form-label col-form-label">год</label>
    <input class="time-minutes form-control form-control-sm" type="number" min="0" max="59" value="0">
    <label class="time-form-label col-form-label">хв</label>
    <%= f.hidden_field :duration %>
  </div>
</div>
<div class="form-group row">
  <%= f.label 'Сценарій доступний для', class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= f.select(:show_scenario_for, [['всіх', 'all'], ['учасників', 'competitors']], {}, { class: 'form-control form-control-sm' }) %>
  </div>
</div>
<div class="form-group row">
  <%= f.label :hide_levels_names, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <div class="form-check">
      <%= f.check_box :hide_levels_names, class: 'form-check-input' %>
    </div>
  </div>
</div>
<div class="form-group row">
  <%= f.label :hide_stat, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10 form-inline">
    <div class="form-check">
      <%= f.check_box :hide_stat, class: 'form-check-input' %>
    </div>
    <div id="hide-stat-form">
      <%= f.text_field :hide_stat_type, hidden: true %>
      <div class="custom-control custom-radio custom-control-inline">
        <%= radio_button_tag(:hide_stat_type, "all", true, class: "custom-control-input") %>
        <%= label_tag(:hide_stat_type_all, "До закінчення гри", class: "custom-control-label") %>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <%= radio_button_tag(:hide_stat_type, "level", true, class: "custom-control-input") %>
        <%= label_tag(:hide_stat_type_level, "До закінчення рівня ", class: "custom-control-label") %>
        <%= f.number_field :hide_stat_level, min: 0, class: 'form-control form-control-sm' %>
      </div>
    </div>
  </div>
</div>
<div class="form-group row">
  <%= f.label :city, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= f.text_field :city, class: 'form-control form-control-sm' %>
  </div>
</div>
<div class="form-group row">
  <%= f.label :place, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= f.text_field :place, class: 'form-control form-control-sm' %>
  </div>
</div>
<div class="form-group row">
  <%= f.label :price, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= f.number_field :price, class: 'form-control form-control-sm' %>
  </div>
</div>

<script type="text/javascript">
  $('#game_starts_at').datetimepicker({
      format:'d.m.Y H:i',
      lang:'uk' });
  $('#game_registration_deadline').datetimepicker({
      format:'d.m.Y H:i',
      lang:'uk' });

  function toggleMaxTeamNumber(sourceCheckbox) {
      var game_max_team_number = $('#game_max_team_number');
      if (sourceCheckbox.checked) {
          game_max_team_number.css('display', 'block');
          game_max_team_number.focus();
      }
      else {
          game_max_team_number.css('display', 'none');
          game_max_team_number.val(0);
      }
  }

  function toggleTeamSizeLimitBlock() {
    var team_size_limit_block = $('#team-size-limit-block');
    if ($('#game_game_size').val() === 'Онлайн' && $('#game_team_type').val() === 'multy') {
      team_size_limit_block.css('display', 'flex');
      toggleTeamSize($('#team_size_limit_checkbox'));
    }
    else {
      team_size_limit_block.css('display', 'none');
      $('#game_max_team_number').val(0);
    }
  }

  function toggleTeamSize(sourceCheckbox) {
    var game_team_size_limit = $('#game_team_size_limit');
    if (sourceCheckbox.checked) {
      game_team_size_limit.css('display', 'block');
      game_team_size_limit.focus();
    }
    else {
      game_team_size_limit.css('display', 'none');
      game_team_size_limit.val(0);
    }
  }

  $('#game_game_type').on('change', function() {
      if ($('#game_game_type').val() == 'panic') {
          $('#duration-block').css('display', 'flex');
      } else {
          $('#duration-block').css('display', 'none');
      }
  });

  $('#game_game_size').on('change', function() {
    toggleTeamSizeLimitBlock();
  });

  $('#game_team_type').on('change', function() {
    toggleTeamSizeLimitBlock();
  });

  document.addEventListener("DOMContentLoaded", function(event) {
    if ($('#game_game_type').val() != 'panic') {
        $('#duration-block').css('display', 'none');
    }
    var game_max_team_number = $('#game_max_team_number');
    if (game_max_team_number.val() == 0 || game_max_team_number.val() == 10000) {
        $('#max_team_checkbox').prop('checked', false);
        game_max_team_number.css('display', 'none');
    } else {
        $('#max_team_checkbox').prop('checked', true);
        game_max_team_number.css('display', 'block');
    }
    var team_size_limit_block = $('#team-size-limit-block');
    if ($('#game_game_size').val() === 'Онлайн' && $('#game_team_type').val() === 'multy') {
      team_size_limit_block.css('display', 'flex');
      var game_team_size_limit = $('#game_team_size_limit');
      if (game_team_size_limit.val() == 0 || game_team_size_limit.val() == 10000) {
        $('#team_size_limit_checkbox').prop('checked', false);
        game_team_size_limit.css('display', 'none');
      } else {
        $('#team_size_limit_checkbox').prop('checked', true);
        game_team_size_limit.css('display', 'block');
      }
    }
    else {
      team_size_limit_block.css('display', 'none');
      $('#game_max_team_number').val(0);
    }
  });

  function set_field_duration(element_selector, form_selector) {
    $(element_selector).val(
      parseInt($(form_selector + ' .time-hours').val()) * 60 +
      parseInt($(form_selector + ' .time-minutes').val())
    );
  }

  $(document).ready(function() {
    var form_selector = '#game-duration-form';
    var duration_time = parseInt($('#game_duration').val());
    var minutes = duration_time % 60;
    var hours = Math.trunc(duration_time / 60);
    $(form_selector + ' .time-hours').val(hours);
    $(form_selector + ' .time-minutes').val(minutes);

    $('#game-duration-form .time-hours').on('change', function() {
        set_field_duration('#game_duration', '#game-duration-form');
    });

    $('#game-duration-form .time-minutes').on('change', function() {
        set_field_duration('#game_duration', '#game-duration-form');
    });

    if (!$('#game_hide_stat').prop("checked")) {
        $('#hide-stat-form').addClass('invisible');
    }

    $('#game_hide_stat').on("click", function () {
        toggle($('#game_hide_stat'), $('#hide-stat-form'));
    });

    var hide_stat_type_field = $('#game_hide_stat_type');
    var hide_stat_level = $('#game_hide_stat_level');
    if (hide_stat_type_field.val() === 'all') {
        $("#hide_stat_type_all").prop("checked", true);
        $("#hide_stat_type_level").prop("checked", false);
        hide_stat_level.prop('readonly', true);
    } else {
        $("#hide_stat_type_all").prop("checked", false);
        $("#hide_stat_type_level").prop("checked", true);
        hide_stat_level.prop('readonly', false);
    }

    $('#hide-stat-form input[type="radio"]').on('change', function () {
      var hide_stat_level = $('#game_hide_stat_level');
      if ($("#hide_stat_type_all").prop("checked")) {
        $("#game_hide_stat_type").val('all');
        hide_stat_level.prop('readonly', true);
      } else {
        hide_stat_level.prop('readonly', false);
        $("#game_hide_stat_type").val('level');
        hide_stat_level.select();
      }
    });
  });

  function toggle(elem, form) {
    if (elem.prop("checked")) {
      form.removeClass('invisible');
    } else {
      form.addClass('invisible');
    }
  }
</script>