<a name=<%= "level#{level.position}" %>></a>
<h3>
   <%= "Рівень №#{level.position} \"#{level.name}\"" %>
</h3>

<fieldset>
  <%= level.text.html_safe unless level.text.nil?%>
  <p>
    Завдання:
    <%= render 'tasks', tasks: level.tasks %>
  </p>
  <br>
  <% if (level.complete_later || 0) > 0 %>
      <p>
         <span class="hint-timer">Автозавершення через <%= level.complete_later / 60 %> хв</span>
      </p>
      <br>
  <% end %>
  <% if level.hints.count > 0 %>
    Підказки:
    <p>
      <%= render 'hints', hints: level.hints %>
    </p>
    <br>
  <% end %>
  <% if level.bonuses.count > 0 %>
    Бонуси:
    <p>
      <%= render 'bonuses', bonuses: level.bonuses %>
    </p>
    <br>
  <% end %>
  <b>Відповіді:</b>
  <p>
    <%= render 'answers', level: level %>
  </p>
</fieldset>