<a name=<%= "level#{level.position}" %>></a>
<h3>
   <%= "Рівень №#{level.position} \"#{level.name}\"" %>
</h3>

<fieldset>
  <%= level.text.html_safe %>
  <p>
    Завдання:
    <%= render 'tasks', tasks: level.tasks %>
  </p>
  <br>
  <% if level.hints.count > 0 %>
    Підказки:
    <p>
      <%= render 'hints', hints: level.hints %>
    </p>
    <br>
  <% end %>
  <% if level.bonuses.count > 0 %>
    Бонуси:
    <p>
      <%= render 'bonuses', bonuses: level.bonuses %>
    </p>
    <br>
  <% end %>
  Відповіді:
  <p>
    <%= render 'answers', level: level %>
  </p>
</fieldset>