<% games.each do |game| %>
  <p>
    <% if game.author_finished? %>
        <%= link_to "#{game.name}", game_path(game), class: "finished-game" %>
        <%=  "(#{(game.is_testing? ? game.test_date : game.starts_at).strftime('%H:%M %d.%m.%Y')})" %>
    <% else %>
        <%= link_to "#{game.name}", game_path(game), class: "coming-game" %>
        <%=  "(#{(game.is_testing? ? game.test_date : game.starts_at).strftime('%H:%M %d.%m.%Y')})" %>
    <% end %>
    <% if user_signed_in? && current_user.author_of?(game) %>
      <% unless game.author_finished? %>
        <%= link_to "Редагувати", edit_game_path(game), class: 'btn btn-warning btn-sm' %>
      <% end %>
      <% if game.started? && !game.is_testing? %>
        <%= link_to "Cтатистика", url_for("/logs/short/#{game.id}"), class: 'btn btn-success btn-sm' %>
      <% end %>
      <% if game.started? && !game.is_testing? || game.author_finished? %>
        <%= link_to "Моніторинг", url_for("/logs/livechannel/#{game.id}"), class: 'btn btn-danger btn-sm' %>
      <% end %>
      <%= link_to "Результати", url_for("/game_passings/show_results?game_id=#{game.id}"), class: 'btn btn-primary btn-sm' if game.author_finished? %>
      <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
    <% else %>
      <%= link_to "Статистика", url_for("/logs/short/#{game.id}"), class: 'btn btn-success btn-sm' if game.started? && !game.is_testing? || game.author_finished? %>
      <%= link_to "Результати", url_for("/game_passings/show_results?game_id=#{game.id}"), class: 'btn btn-primary btn-sm' if game.author_finished? %>
    <% end %>
  </p>
  <br>
<% end %>