<%= tinymce %>

<%= form_for @game,  url: game_path(@game) do |f| %>
  <%= render 'shared/error_messages', object:  f.object %>  
  <p><%= f.label "Назва" %><%= f.text_field :name %></p>
  <p><%#= f.label "Опис" %><%= f.text_area :description, class: "tinymce" %></p>
  <p><%= f.label "Початок гри" %><%= f.text_field :starts_at %></p>
  <p><%= f.label "Крайній термін реєстрації" %><%= f.text_field :registration_deadline %></p>
  <br/><p><input id="max_team_checkbox" type="checkbox" onclick=toggle(this) /></p>
  <p><label for="max_team_checkbox">Обмежити</label>
  <p><%= f.label "кількість команд" %><%= f.text_field :max_team_number %></p>
  <p><%= f.label "Чорновик?" %><%= f.check_box :is_draft %></p>
  <%= f.submit "Змінити игру" %>
  <em><%= link_to "(відмінити)", game_path(@game) %></em>
<% end =%>

<script type="text/javascript">
  $('#game_starts_at').datetimepicker({
                        format:'d.m.Y H:i',
                        lang:'uk' });
  $('#game_registration_deadline').datetimepicker({
                        format:'d.m.Y H:i',
                        lang:'uk' });

   function onload(){
        document.getElementById('game_max_team_number').style.visibility = 'hidden'
    }

    function toggle(sourceCheckbox) {
        if (sourceCheckbox.checked) {
            document.getElementById('game_max_team_number').style.visibility = 'visible'
            document.getElementById('game_max_team_number').focus()
        }
        else {
            document.getElementById('game_max_team_number').style.visibility = 'hidden'
        }
    }
</script>