<h2>
  "<strong><%= @game.name %></strong>"
  <br>
  Порядок проходження рівнів:
</h2>
<br>

<%= form_tag("/games/#{@game.id}/create_level_order") do %>
  <table>
    <tr>
      <td><%= label_tag(:q, "№ рівня") %></td>
      <% @teams.each do |team| %>
          <td><%= label_tag(:team_id, "#{team.name}") %></td>
      <% end %>
    </tr>
    <% @level_orders.each do |level_index, levels_values| %>
        <tr>
          <td><%= label_tag(:q, "#{level_index}") %></td>
          <% levels_values.each do |index, value| %>
              <td><%= select_tag("level_id_#{level_index}_#{index}", options_for_select(@levels.map{ |level| [level.name, level.id] }, value)) %></td>
          <% end %>
        </tr>
    <% end %>
  </table>
  <%= submit_tag "Зберегти", class: 'btn btn-light' %>
<% end %>
<br>
<p>
  <%= link_to "Повернутися до гри \"#{@game.name}\"", game_path(@game) %>
</p>
<br>
