<h2>
  Гра "<strong><%= @game.name %></strong>"
</h2>

<% if @game.draft? %>
  <div class="is-draft-message">Чорновик</div>
<% end %>


<p>
  <em>Автори</em> - <strong><%= @game.authors.map(&:nickname).join(', ') %></strong>
</p>

<% if user_signed_in? && (current_user.author_of?(@game) || @game.author_finished?) %>
  <p>
    <em>Сценарiй:</em> <strong><%=link_to 'доступний', show_scenario_game_path(@game) %></strong>
  </p>
<% end %>

<p>
  <% unless @game.starts_at.nil? %>
    <em>Початок гри</em>: <%= (@game.is_testing? ? @game.test_date : @game.starts_at).strftime("%Y-%m-%d %H:%M") %>
  <% else %>
    Дата початку гри ще не призначена
  <% end %>
</p>
<p>
  <% unless @game.registration_deadline.nil? %>
    <em>Кінцевий термін реєстрації</em>: <%= @game.registration_deadline.strftime("%Y-%m-%d %H:%M") %>
  <% else %>
    Кінцевий термін реєстрації ще не призначено
  <% end %>
</p>

<p>
  <em>Послiдовнiсть проходження:</em> <%= @game.game_type == 'linear' ? ' Лiнiйна' : @game.game_type == 'panic' ? ' Панiка' : 'Лінійна (вказана)' %>
</p>

<% if @game.game_type == 'panic' %>
  <p>
    <em>Тривалiсть гри:</em> <%= " #{@game.duration} хвилин" %>
  </p>
<% end %>

<% if current_user && current_user.captain? %>
    <p><% game_entry = GameEntry.of(current_user.team, @game)%>
      <%= render 'shared/game_entry_controls', game_entry: game_entry, game: @game, team: current_user.team %></p>
<% end %>
<br>

<p>
  <em>Опис:</em>
</p>
<p>
  <%= @game.description.html_safe %>
</p>

<p>
  <em>Максимальна кількість команд:</em>
</p>
<p>
  <% if @game.max_team_number.equal?(10000) || @game.max_team_number.equal?(0) || @game.max_team_number.nil? %>
    Необмежено
    <% @game.max_team_number = 10000 %>
  <% else %>
    <%= @game.max_team_number %>
  <% end %>
</p>

<br>

<% if user_signed_in? && current_user.author_of?(@game) %>

  <fieldset>
    <legend>
      Завдання:
    </legend>

    <p>
      <%= render 'levels/list', levels: @game.levels  %>
    </p>

    <p>
      <%= link_to "Додати нове завдання", new_game_level_path(@game) %>
    </p>
  </fieldset>
  <br>
<% end %>      

<%= render 'game_entries', game_entries: @game_entries  %>
<br>
<%= render 'teams', accepted_game_entries: @accepted_game_entries %>
<br>

<% if user_signed_in? && current_user.author_of?(@game) %>
  <p>
    <%= link_to "Редагувати дану гру", edit_game_path(@game) %>
  </p>
  <br>
<% end %>

<% if @game.game_type == 'selected' && @teams_for_test.count > 0 %>
  <p><%= link_to 'Задати порядок проходження', url_for("/games/#{@game.id}/new_level_order") %></p>
<% end %>
<br>
<br>
<%= render 'shared/countdown' %>
<div id="countdown-example"></div>

<script type="text/javascript">
  <% unless @game.starts_at.nil? %>
    var seconds_to_game = <%= ((@game.is_testing? ? @game.test_date : @game.starts_at) - Time.zone.now.strftime("%d.%m.%Y %H:%M:%S.%L").to_time + 1) %>;
    console.log(seconds_to_game);
//    var date = new Date();
//    date.setMilliseconds(date.getTime() + 1000 * seconds_to_game);

    var dateObj = Date.now();

    // Add 3 days to the current date & time
    //   I'd suggest using the calculated static value instead of doing inline math
    //   I did it this way to simply show where the number came from
    dateObj += 1000 * seconds_to_game;

    // create a new Date object, using the adjusted time
    var date = new Date(dateObj);
    console.log(date);

//    var date = new Date(<%= ((@game.is_testing? ? @game.test_date : @game.starts_at) + 1).strftime("%Y,%m-1,%d,%H,%M,%S") %>);
  <% end %>

  $("#countdown-example").countdown(date, {
    prefix:'До початку лишилось: '
  });
</script>

<% if user_signed_in? && current_user.author_of?(@game) && !@game.started?&& !@game.is_testing? && @game.levels && @game.levels.count > 0 %>

    <% if game_with_personal? || @game.game_type == 'selected' %>
        <%= form_tag "/games/start_test/#{@game.id}", method: 'get' do %>
            <%= label_tag "Почати тестування для команди" %>
            <%= select_tag(:team_id, options_for_select(@teams_for_test.map{ |team| [team.name, team.id] })) %>
            <%= submit_tag "Старт" %>
        <% end %>
    <% else %>
        <%= link_to 'Почати тестування', url_for("/games/start_test/#{@game.id}") %>
    <% end %>

<% end %>

<% if user_signed_in? && current_user.author_of?(@game) && @game.is_testing? %>
   <%= link_to "Старт", url_for("/play/#{@game.id}") %>
   <br>
   <%= link_to "Завершити тестування", url_for("/games/finish_test/#{@game.id}") %>
<% end %>

<% if user_signed_in? && current_user.author_of?(@game) %>
  <br>
  <br>
  <br>
  <br>
  <%= link_to "ЗАВЕРШИТИ ГРУ", url_for("/games/end_game/#{@game.id}"), data: { confirm: 'Ви впевнені?' } if (@game.started? && !@game.is_testing? && !@game.author_finished?) %>
  <br>
  <%= "Ви завершили гру" if (@game.started? && !@game.is_testing? && @game.author_finished?) %>
  <br>
  <br>
  <br>
  <p>
    <%= link_to "Видалити дану гру", @game, method: :delete, data: { confirm: 'Ви впевнені?' } %>
  </p>
<% end %>
