<h2>
  Гра "<strong><%= @game.name %></strong>"
</h2>

<% if @game.draft? %>
  <div class="is-draft-message">Чорновик</div>
<% end %>


<p>
  <em>Автор</em> - <strong><%= @game.author.nickname %></strong>
</p>

<p>
  <% unless @game.starts_at.nil? %>
    <em>Початок гри</em>: <%= @game.starts_at.strftime("%Y-%m-%d %H:%M") %>
  <% else %>
    Дата початку гри ще не призначена
  <% end %>
</p>
<p>
  <% unless @game.registration_deadline.nil? %>
    <em>Кінцевий термін реєстрації</em>: <%= @game.registration_deadline.strftime("%Y-%m-%d %H:%M") %>
  <% else %>
    Кінцевий термін реєстрації ще не призначено
  <% end %>
</p>

<p>
  <em>Опис:</em>
</p>

<p>
  <%= @game.description.html_safe %>
</p>
<p>
  <em>Максимальна кількість команд:</em>
</p>
<p>
  <% if @game.max_team_number.equal?(10000) or @game.max_team_number.equal?(0) or @game.max_team_number.nil? %>
    Необмежено
    <% @game.max_team_number = 10000 %>
  <% else %>
    <%= @game.max_team_number %>
  <% end %>
</p>

<br />

<% if user_signed_in? and current_user.author_of?(@game) %>

  <fieldset>
    <legend>
      Завдання:
    </legend>

    <p>
      <%= render 'levels/list', levels: @game.levels  %>
    </p>

    <p>
      <%= link_to "Добавити нове завдання", new_game_level_path(@game) if !@game.started? %>
    </p>
  </fieldset>
  <br/>
<% end %>      
<%= render 'game_entries', game_entries: @game_entries  %>
<br/>
<%= render 'teams', teams: @teams %>
<br />

<% if user_signed_in? and current_user.author_of?(@game) %>
  <p>
    <%= link_to "Редагувати дану гру", edit_game_path(@game) if !@game.started? %>
  </p>

  <p>
    <%= link_to "Видалити дану гру", @game, method: :delete, data: { confirm: 'Ви впевнені?' } %> <br />
  </p>

<% end %>

<%= render 'shared/countdown' %>
<div id="countdown-example"></div>

<script type="text/javascript">
  <% unless @game.starts_at.nil? %>
    var date = new Date(<%= (@game.starts_at + 1).strftime("%Y,%m-1,%d,%H,%M,%S") %>);
  <% end %>

  $("#countdown-example").countdown(date,{
    prefix:'До початку лишилось: '
  });
</script>

<% if @game.draft? and !@game.started? and @game.levels and @game.levels.count > 0 %>
   <%= link_to 'Почати тестування', url_for("/games/start_test/#{@game.id}") %>
<% end %>

<% if @game.is_testing? %>
   <%= link_to "Старт", url_for("/play/#{@game.id}") %>
   <br />
   <%= link_to "Завершити тестування", url_for("/games/finish_test/#{@game.id}") %>
<% end %>
