<h2>
  Гра "<strong><%= @game.name %></strong>"
</h2>

<% if @game.draft? %>
  <div class="is-draft-message">Чорновик</div>
<% end %>


<p>
  <em>Автор</em> - <strong><%= @game.author.nickname %></strong>
</p>

<% if user_signed_in? && (current_user.author_of?(@game) || @game.author_finished?) %>
  <p>
    <em>Сценарiй:</em> <strong><%=link_to 'доступний', show_scenario_game_path(@game) %></strong>
  </p>
<% end %>

<p>
  <% unless @game.starts_at.nil? %>
    <em>Початок гри</em>: <%= @game.starts_at.strftime("%Y-%m-%d %H:%M") %>
  <% else %>
    Дата початку гри ще не призначена
  <% end %>
</p>
<p>
  <% unless @game.registration_deadline.nil? %>
    <em>Кінцевий термін реєстрації</em>: <%= @game.registration_deadline.strftime("%Y-%m-%d %H:%M") %>
  <% else %>
    Кінцевий термін реєстрації ще не призначено
  <% end %>
</p>

<p>
  <em>Послiдовнiсть проходження:</em> <%= @game.game_type == 'linear' ? ' Лiнiйна' : @game.game_type == 'panic' ? ' Панiка' : 'Лінійна (вказана)' %>
</p>

<% if @game.game_type == 'panic' %>
  <p>
    <em>Тривалiсть гри:</em> <%= " #{@game.duration} хвилин" %>
  </p>
<% end %>

<p>
  <em>Опис:</em>
</p>
<p>
  <%= @game.description.html_safe %>
</p>

<p>
  <em>Максимальна кількість команд:</em>
</p>
<p>
  <% if @game.max_team_number.equal?(10000) || @game.max_team_number.equal?(0) || @game.max_team_number.nil? %>
    Необмежено
    <% @game.max_team_number = 10000 %>
  <% else %>
    <%= @game.max_team_number %>
  <% end %>
</p>

<br>

<% if user_signed_in? && current_user.author_of?(@game) %>

  <fieldset>
    <legend>
      Завдання:
    </legend>

    <p>
      <%= render 'levels/list', levels: @game.levels  %>
    </p>

    <p>
      <%= link_to "Додати нове завдання", new_game_level_path(@game) %>
    </p>
  </fieldset>
  <br>
<% end %>      

<%= render 'game_entries', game_entries: @game_entries  %>
<br>
<%= render 'teams', teams: @teams %>
<br>

<% if user_signed_in? && current_user.author_of?(@game) %>
  <p>
    <%= link_to "Редагувати дану гру", edit_game_path(@game) %>
  </p>
  <br>
<% end %>

<% if @game.game_type == 'selected' && @teams_for_test.count > 0 %>
  <p><%= link_to 'Задати порядок проходження', url_for("/games/#{@game.id}/new_level_order") %></p>
<% end %>
<br>
<br>
<%= render 'shared/countdown' %>
<div id="countdown-example"></div>

<script type="text/javascript">
  <% unless @game.starts_at.nil? %>
    var date = new Date(<%= (@game.starts_at + 1).strftime("%Y,%m-1,%d,%H,%M,%S") %>);
  <% end %>

  $("#countdown-example").countdown(date,{
    prefix:'До початку лишилось: '
  });
</script>

<% if @game.draft? && !@game.started? && @game.levels && @game.levels.count > 0 %>

    <% if game_with_personal? || @game.game_type == 'selected' %>
        <%= form_tag "/games/start_test/#{@game.id}", method: 'get' do %>
            <%= label_tag "Почати тестування для команди" %>
            <%= select_tag(:team_id, options_for_select(@teams_for_test.map{ |team| [team.name, team.id] })) %>
            <%= submit_tag "Старт" %>
        <% end %>
    <% else %>
        <%= link_to 'Почати тестування', url_for("/games/start_test/#{@game.id}") %>
    <% end %>

<% end %>

<% if @game.is_testing? %>
   <%= link_to "Старт", url_for("/play/#{@game.id}") %>
   <br>
   <%= link_to "Завершити тестування", url_for("/games/finish_test/#{@game.id}") %>
<% end %>

<% if user_signed_in? && current_user.author_of?(@game) %>
  <br>
  <br>
  <br>
  <br>
  <p>
    <%= link_to "Видалити дану гру", @game, method: :delete, data: { confirm: 'Ви впевнені?' } %>
  </p>
<% end %>
