<%= tinymce language: 'uk' %>
<p><%= f.label "Команда" %><%= f.select(:team_id, [['Для всіх', nil]] + @teams.map{ |team| [team.name, team.id] }) %></p>
<p><%= f.label "Назва" %><%= f.text_field :name %></p>
<p><b>Завдання</b></p>
<p><%= f.text_area :task, class: "tinymce" %></p>
<p><b>Підказка</b></p>
<p><%= f.text_area :help, class: "tinymce" %></p>
<p><%= f.label "Винагорода" %><%= f.text_field :award_time %> секунд</p>
<div class="answers">
  <%= f.fields_for :bonus_answers do |answer| %>
    <%= render 'bonus_answer_fields', f: answer %>
  <% end %>
</div>
<br>
<p><%= link_to_add_association 'Додати відповідь', f, :bonus_answers, class: 'btn btn-primary', data: { association_insertion_node: '.answers', association_insertion_method: :append } %></p>
<br>
