<% unless bonuses.empty? %>
    <% bonuses.each do |bonus| %>
        <div id="bonus-<%= bonus.id %>">
          <fieldset>
            <legend>
              <% if bonus.team.nil? %>
                  <em>Для всіх</em>:
              <% else %>
                  <em>Для </em> <strong><%= link_to bonus.team.name, team_path(bonus.team) %></strong>:
              <% end %>
              <em>
                <%= link_to "(редагувати)", edit_game_level_bonus_path(@game, @level, bonus) %>
                <%= link_to "(видалити)", game_level_bonus_path(@game, @level, bonus), method: :delete, data: { confirm: 'Ви впевнені?' } %>
                <%= link_to "(скопіювати)", copy_game_level_bonus_path(@game, @level, bonus), method: :post %>
                <%= link_to "(скопіювати в сектор)", copy_to_sector_game_level_bonus_path(@game, @level, bonus), method: :post %>
              </em>
            </legend>
            <p>
              <strong><%= bonus.name %>:</strong>
            </p>
            <% unless bonus.task.nil? %>
              <p>
                <strong>Завдання: </strong><%= bonus.task.html_safe %>
              </p>
            <% end %>
            <% unless bonus.help.nil? %>
              <p>
                <strong>Підказка: </strong><%= bonus.help.html_safe %>
              </p>
            <% end %>
            <% if (bonus.award_time || 0) > 0 %>
              <p>
                <strong>Винагорода: </strong><%= seconds_to_string(bonus.award_time || 0) %>
              </p>
            <% end %>
            <% if (bonus.award_time || 0) < 0 %>
              <p>
                <strong>Штраф: </strong><%= seconds_to_string(-(bonus.award_time || 0)) %>
              </p>
            <% end %>
            <% if bonus.is_absolute_limited %>
              <p>
                <strong>Обмежити час доступності: </strong>
                <%= bonus.valid_from.nil? ? '' : " з #{bonus.valid_from.strftime("%d.%m.%Y %H:%M")}" %>
                <%= bonus.valid_to.nil? ? '' : " по #{bonus.valid_to.strftime("%d.%m.%Y %H:%M")}" %>
              </p>
            <% end %>
            <% if bonus.is_delayed %>
              <p>
                <strong>Обмежити час появи: </strong>
                <%= "на #{seconds_to_string(bonus.delay_for || 0)}" %>
              </p>
            <% end %>
            <% if bonus.is_relative_limited %>
              <p>
                <strong>Обмежити час виконання: </strong>
                <%= "на #{seconds_to_string(bonus.valid_for || 0)}" %>
              </p>
            <% end %>
            <% bonus.bonus_answers.each do |answer| %>
              <p>
                <span class="bonus"><%= answer.value %></span>
                <% if answer.team.nil? %>
                    <em> (для всіх)</em>
                <% else %>
                    <em> (для </em> <strong><%= link_to answer.team.name, team_path(answer.team) %></strong>)
                <% end %>
              </p>
            <% end %>
          </fieldset>
        </div>
        <br>
    <% end %>
<% end %>