<h2>
  Завдання "<strong><%= link_to @level.name, game_level_path(@game, @level) %></strong>"
</h2>

<p>
  <em>(гра "<%= link_to @game.name, game_path(@game) %>")</em>
</p>

<br>

<%= form_for @bonus, url: game_level_bonuses_path(@game, @level) do |f| %>
  <p><%= f.label "Команда" %><%= f.select(:team_id, [['Для всіх', nil]] + @teams.map{ |team| [team.name, team.id] }) %></p>
  <p><%= f.label "Назва" %><%= f.text_field :name %></p>
  <p><%= f.label "Завдання" %><%= f.text_field :task %></p>
  <p><%= f.label "Підказка" %><%= f.text_field :help %></p>
  <p><%= f.label "Винагорода" %><%= f.text_field :award_time %> секунд</p>
  <p><%= f.label "Код" %><%= f.text_field :correct_answer %></p>
  <%= f.submit "Додати код" %>
  <em><%= link_to "(відмінити)", game_level_path(@game, @level) %></em>
<% end %>