<%= tinymce language: 'uk' %>
Новий рівень для гри <%= @level.game.name %><br>
<br>

<%= form_for @level, url: game_levels_path(@level.game) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>  
  <p><%= f.label :name, "Назва" %><%= f.text_field :name %></p>
  <p><%= f.label "Олімпійка?" %><%= f.check_box :olymp %></p>
  <p><%= f.label "Автозавершення через " %><%= f.text_field :complete_later_minutes %> хвилин</p>
  <%= f.submit "Додати рівень" %>
  <em><%= link_to "(відмінити)", game_path(@level.game) %></em>
<% end %>
