<h2>
  <strong><%= "Рівень №#{@level.position} \"#{@level.name}\"" %></strong>
</h2>

<p>
  <em>(гра "<%= link_to @game.name, game_path(@game) %>")</em>
</p>

<br>

<% if (@level.complete_later || 0) > 0 %>
  <p>
    <span class="hint-timer">Автозавершення через <%= seconds_to_string(@level.complete_later || 0)%></span>
  </p>
<% else %>
  <p>
    <span class="hint-timer">Автозавершення: немає</span>
  </p>
<% end %>
<% if @level.olymp? %>
  <br>
  <p>
    Олімпійка з базою <%= @level.olymp_base || 2 %>
  </p>
<% end %>
<br>
<p>
  <strong>Умова для проходження:</strong> <%= (@level.sectors_for_close || 0) > 0 ? " закрити #{@level.sectors_for_close} секторів" : ' закрити всі сектори' %>
</p>
<br>
<% if @level.is_autocomplete_penalty? %>
  <p>
    <strong>Штраф при автозавершенні: </strong>
    <%= seconds_to_string(@level.autocomplete_penalty || 0) %>
  </p>
  <br>
<% end %>
<% if @level.is_wrong_code_penalty? %>
  <p>
    <strong>Штраф за неіснуючий код: </strong> <%= seconds_to_string(@level.wrong_code_penalty || 0) %>
  </p>
  <br>
<% end %>
<% if @level.input_lock? %>
  <p>
    <strong>Блокування вводу: </strong>
    <%= "#{@level.inputs_count} спроб за #{seconds_to_string(@level.input_lock_duration || 0)} на #{@level.input_lock_type == 'team' ? 'команду' : 'гравця'}" %>
  </p>
  <br>
<% end %>
<% unless @level.description.nil? || @level.description.empty? %>
  <p>
    <strong>Коментар: </strong> <pre class="level_description"><%= @level.description %></pre>
  </p>
  <br>
<% end %>

<p>
  <%= link_to "Редагувати параметри рівня", edit_game_level_path(@game, @level) unless @game.author_finished? %>
</p>

<br>

<p>
  <a href="#tasks-block" class="btn btn-sm btn-dark btn-level-block"><span class="openedlevel">Завдання</span></a>
  <a href="#messages-block" class="btn btn-sm btn-dark btn-level-block"><span class="purple">Повідомлення</span></a>
  <a href="#hints-block" class="btn btn-sm btn-dark btn-level-block"><span class="hint-timer">Підказки</span></a>
  <a href="#penalty-hints-block" class="btn btn-sm btn-dark btn-level-block"><span class="yellow">Штрафні підказки</span></a>
  <a href="#sectors-block" class="btn btn-sm btn-dark btn-level-block"><span class="right_code">Сектори</span></a>
  <a href="#bonuses-block" class="btn btn-sm btn-dark btn-level-block"><span class="bonus">Бонуси</span></a>
</p>

<br>

<fieldset id="tasks-block">
  <legend class="openedlevel">
    Завдання:
  </legend>
  <% unless @game.author_finished? %>
    <p>
      <%= link_to '<span class="openedlevel">Додати завдання</span>'.html_safe, new_game_level_task_path(@game, @level), class: 'btn btn-sm btn-dark btn-level-block' %>
    </p>
    <br>
  <% end %>
  <p>
    <%= render 'tasks/list', tasks: @level.tasks, game: @game, level: @level %>
  </p>
</fieldset>
<br>
<fieldset id="messages-block">
  <legend class="purple">
    Повідомлення:
  </legend>
  <% unless @game.author_finished? %>
    <p>
      <%= link_to '<span class="purple">Додати повідомлення</span>'.html_safe, new_game_level_message_path(@game, @level), class: 'btn btn-sm btn-dark btn-level-block' %>
    </p>
    <br>
  <% end %>
  <p>
    <%= render 'messages/list', messages: @level.messages, game: @game, level: @level %>
  </p>
</fieldset>
<br>
<fieldset id="hints-block">
  <legend class="hint-timer">
    Пiдказки:
  </legend>
  <% unless @game.author_finished? %>
    <p>
      <%= link_to '<span class="hint-timer">Додати підказку</span>'.html_safe, new_game_level_hint_path(@game, @level), class: 'btn btn-sm btn-dark btn-level-block' %>
    </p>
    <br>
  <% end %>
  <p>
    <%= render 'hints/list', hints: @level.hints, game: @game, level: @level %>
  </p>
</fieldset>
<br>
<fieldset id="penalty-hints-block">
  <legend class="yellow">
    Штрафні пiдказки:
  </legend>
  <% unless @game.author_finished? %>
    <p>
      <%= link_to '<span class="yellow">Додати штрафну підказку</span>'.html_safe, new_game_level_penalty_hint_path(@game, @level), class: 'btn btn-sm btn-dark btn-level-block' %>
    </p>
    <br>
  <% end %>
  <p>
    <%= render 'penalty_hints/list', penalty_hints: @level.penalty_hints.order(:created_at), game: @game, level: @level %>
  </p>
</fieldset>
<br>
<fieldset id="sectors-block">
  <legend class="right_code">
    Відповіді:
  </legend>
  <% unless @game.author_finished? %>
    <p>
      <%= link_to "Додати сектор", new_game_level_question_path(@game, @level), class: 'btn btn-sm btn-success' %>
      <%= link_to "Додати групу секторів", { controller: 'questions', action: 'new_batch', game_id: @game.id, level_id: @level.id }, class: 'btn btn-sm btn-success' %>
    </p>
    <% if @level.questions.exists? %>
      <%= form_tag({controller: :levels, action: :add_answer_to_sectors}, method: "post") do %>
        <br>Додати відповідь
        <%= text_field_tag(:answer) %>
        у всі сектори <%= submit_tag "  +  ", class: 'btn btn-sm btn-success' %>
        <br>
      <% end %>
      <br>
    <% end %>
  <% end %>
  <p>
    <%= render 'questions/list', questions: @level.questions, game: @game, level: @level %>
  </p>
  <% if !@game.author_finished? && @level.questions.size > 5 %>
    <p>
      <%= link_to "Додати сектор", new_game_level_question_path(@game, @level), class: 'btn btn-sm btn-success' %>
      <%= link_to "Додати групу секторів", { controller: 'questions', action: 'new_batch', game_id: @game.id, level_id: @level.id }, class: 'btn btn-sm btn-success' %>
    </p>
  <% end %>
</fieldset>
<br>
<fieldset id="bonuses-block">
  <legend class="bonus">
    Бонуси:
  </legend>
  <% unless @game.author_finished? %>
    <p>
      <%= link_to "Додати бонус", new_game_level_bonus_path(@game, @level), class: 'btn btn-sm btn-primary' %>
      <%= link_to "Додати групу бонусів", { controller: 'bonuses', action: 'new_batch', game_id: @game.id, level_id: @level.id }, class: 'btn btn-sm btn-primary' %>
    </p>
    <% if @level.bonuses.exists? %>
      <%= form_tag({controller: :levels, action: :add_answer_to_bonuses}, method: "post") do %>
        <br>Додати відповідь
        <%= text_field_tag(:bonus_answer) %>
        у всі бонуси <%= submit_tag "  +  ", class: 'btn btn-sm btn-primary' %>
        <br>
      <% end %>
      <br>
    <% end %>
  <% end %>
  <p>
    <%= render 'bonuses/list', bonuses: @level.bonuses, game: @game, level: @level %>
  </p>
  <% if !@game.author_finished? && @level.bonuses.size > 5 %>
    <br>
    <p>
      <%= link_to "Додати бонус", new_game_level_bonus_path(@game, @level), class: 'btn btn-sm btn-primary' %>
      <%= link_to "Додати групу бонусів", { controller: 'bonuses', action: 'new_batch', game_id: @game.id, level_id: @level.id }, class: 'btn btn-sm btn-primary' %>
    </p>
  <% end %>
</fieldset>
<br>
<p>
  <a href="#tasks-block" class="btn btn-sm btn-dark btn-level-block"><span class="openedlevel">Завдання</span></a>
  <a href="#messages-block" class="btn btn-sm btn-dark btn-level-block"><span class="purple">Повідомлення</span></a>
  <a href="#hints-block" class="btn btn-sm btn-dark btn-level-block"><span class="hint-timer">Підказки</span></a>
  <a href="#penalty-hints-block" class="btn btn-sm btn-dark btn-level-block"><span class="yellow">Штрафні підказки</span></a>
  <a href="#sectors-block" class="btn btn-sm btn-dark btn-level-block"><span class="right_code">Сектори</span></a>
  <a href="#bonuses-block" class="btn btn-sm btn-dark btn-level-block"><span class="bonus">Бонуси</span></a>
</p>
<br>
<p>
  <%= link_to "Повернутися до гри \"#{@level.game.name}\"", game_path(@level.game) %>
</p>
<br>
<% unless @game.author_finished? %>
  <br>
  <br>
  <br>
  <br>
  <p>
    <%= link_to "Видалити даний рівень", game_level_path(@game, @level), method: :delete, data: { confirm: 'Ви впевнені?' } %> <br>
  </p>
<% end %>

