<h2>
  Рівень "<strong><%= @level.name %></strong>"
</h2>

<p>
  <em>(гра "<%= link_to @game.name, game_path(@game) %>")</em>
</p>

<br>

<p>
  <%= link_to "Редагувати назву рівня", edit_game_level_path(@game, @level) %>
</p>

<br>

<fieldset>
  <legend class="openedlevel">
    Завдання:
  </legend>
  <p>
    <%= link_to "Додати завдання", new_game_level_task_path(@game, @level) %>
  </p>
  <br>
  <p>
    <%= render 'tasks/list', tasks: @level.tasks %>
  </p>
</fieldset>
<br>
<fieldset>
  <legend class="hint-timer">
    Пiдказки:
  </legend>
  <p>
    <%= link_to "Додати підказку", new_game_level_hint_path(@game, @level) %>
  </p>
  <br>
  <p>
    <%= render 'hints/list', hints: @level.hints %>
  </p>
</fieldset>
<br>
<fieldset>
  <legend class="right_code">
    Відповіді:
  </legend>
  <p>
    <%= link_to "Додати сектор", new_game_level_question_path(@game, @level) %>
  </p>
  <br>
  <p>
    <%= render 'questions/list', questions: @level.questions %>
  </p>
</fieldset>
<br>
<fieldset>
  <legend class="bonus">
    Бонуси:
  </legend>
  <p>
    <%= link_to "Додати бонус", new_game_level_bonus_path(@game, @level) %>
  </p>
  <br>
  <p>
    <%= render 'bonuses/list', bonuses: @level.bonuses %>
  </p>
</fieldset>
<br>
<p>
  <%= link_to "Повернутися до гри \"#{@level.game.name}\"", game_path(@level.game) %>
</p>
<br>
<br>
<br>
<br>
<br>
<p>
  <%= link_to "Видалити даний рівень", game_level_path(@game, @level), method: :delete, data: { confirm: 'Ви впевнені?' } %> <br>
</p>

