<h1>Статистика гри "<%= link_to @game.name, game_path(@game) %>"</h1>

<table id="stats" border="1">
  <tbody>
  <% @levels.each do |level| %>
      <tr align="center">
        <td colspan="<%=@teams.count%>">
          <h2><%= "#{level.position}. #{level.name}" %></h2>
        </td>
      </tr>
      <tr valign="top">
        <% @level_logs[level.position - 1].each do |level_log| %>
          <td align="center">
            <% unless level_log[:log].nil? %>
              <p class="team-name"><%= level_log[:team].name %></p>
                <p>(<%= level_log[:log].user.nickname %>)</p>
                <p><%= level_log[:log].time.strftime('%d.%m.%Y') %></p>
                <p><%= level_log[:log].time.strftime('%H:%M:%S') %></p>
              <% if level_log[:log].answer == 'timeout' %>
                <p class="timeout-stat">timeout</p>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>