<h1>Статистика гри "<%= link_to @game.name, game_path(@game) %>"</h1>

<table id="stats" border="1">
  <tbody>
  <% @levels.each do |level| %>
      <tr align="center">
        <td colspan="<%=@teams.count%>">
          <h2><%= "#{level.position}. #{level.name}" %></h2>
        </td>
      </tr>
      <tr valign="top">
        <% @level_logs[level.position - 1].each do |level_log| %>
          <td>
            <span class="team_name"><%= level_log[:team].name %></span>
            <ul>
              <li><%= "#{level_log[:log].time.strftime('%Y-%m-%d %H:%M:%S')} (#{level_log[:log].user.nickname})" unless level_log[:log].nil? %></li>
            </ul>
          </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>