<h1>Лог відповідей команди "<%= @team.name %>" по рівню "<%= @level.name %>" гри "<%= link_to @game.name, game_path(@game) %>"</h1>

<strong>Вірний код:</strong>&nbsp;<%= @level.questions.first.correct_answer %>
<ul>
  <% @logs.each do |log| %>
    <li><%= log.time.strftime("%Y-%m-%d %H:%M:%S.%L") %>&nbsp;<%= "#{log.answer} (#{log.user.nickname})" %></li>
  <% end %>
</ul>
