<h1>Повний лог відповідей гри "<%= link_to @game.name, game_path(@game) %>"</h1>

<table id="stats" border="1">
  <tbody>
    <% @levels.each do |level| %>
      <% correct_answers = [] %>
      <% level.questions.each do |question| %>
          <% question.answers.each { |answer| correct_answers << answer.value.strip.downcase_utf8_cyr unless correct_answers.include? answer.value.downcase_utf8_cyr.strip} %>
      <% end %>
      <tr align="center">
        <td colspan="<%=@teams.count%>">
          <h2><%= level.name %></h2>

          <% if correct_answers.count == 1 %>
            <strong>Вірний код: </strong><%= correct_answers.first %>
          <% else %>
            <strong>Вірні коди: </strong><%= correct_answers.join(', ') %>
          <% end %>
        </td>
      </tr>
      <tr valign="top">
        <% @teams.each do |team| %>
        <td>
          <%= team.name %>
          <% team_logs = @logs.select { |log| log.team_id == team.id && log.level_id == level.id } %>
          <ul>
          <% team_logs.each do |team_log| %>
            <li>
              <%= team_log.time.strftime("%d.%m.%Y %H:%M:%S.%L") %>
              <% if correct_answers.include?(team_log.answer.strip.downcase_utf8_cyr) || team_log.answer == 'timeout' %>
                  <span class="right_code"><%= team_log.answer %></span>
              <% else %>
                  <span class="wrong_code"><%= team_log.answer %></span>
              <% end %>

              <%=  " (#{team_log.user.nickname})" %>
            </li>
          <% end %>
          </ul>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
