Прямий ефір гри "<%= @game.name %>"

<table id="livechannel">
  <thead>
    <tr>
      <th>Час</th>
      <th>Команда</th>
      <th>Завдання</th>
      <th>Код</th>
      <th>Гравець</th>
    </tr>
  </thead>
  <tbody>
    <%
      logs_sorted_by_date = @logs.sort do |left, right|
        if left.time <= right.time
          1
        else
          -1
        end
      end
    %>
    <% logs_sorted_by_date.each do |log| %>
      <tr>
        <td><%= log.time.strftime("%Y-%m-%d %H:%M:%S.%L") %></td>
        <td><%= log.team %></td>
        <td><%= log.level %></td>
        <td><%= log.answer %></td>
        <td><%= log.user.nickname %></td>
        </tr>
    <% end %>
  </tbody>
</table>